#add-contact {
    padding-right: 20px !important;
}

.contact-header {
    padding-bottom: 20px;
    font-size: 26px;
    text-align: left;
    text-decoration: dotted;
    font-weight: 600;
}

.form-group {
    position: relative;
    margin-bottom: 20px;

    label {
        position: absolute;
        font-size: 30px;
        color: red;
        right: 13px;
    }

    .input-field {
        display: block;
        width: 100%;
        border: 1px solid #3c4245;
        padding: 12px 14px;
        border-radius: 20px;
        font-size: 16px;
        letter-spacing: 1px;
        outline: none;
        color: #3c4245;

        &::placeholder {
            color: #3c4245;
            letter-spacing: 3px;
            font-size: 14px;
        }
    }
}

.btn-contact {
    border: none;
    padding: 13px 28px;
    border-radius: 20px;
    background: #3c4245;
    color: #ffecec;
    outline: none;
    display: block;
    cursor: pointer;
}

@media (max-width:500px) {
    #add-contact {
        width: 100% !important;
        margin-bottom: 20px !important;

        .input-field {
            padding: 10px 16px;
        }

        .btn-contact {
            margin-top: 26px;
            padding: 11px 22px;
        }
    }
}

@media (max-width:950px) {
    .contact-header {
        text-align: center;
    }
    #add-contact {
        margin-bottom: 20px;
        padding:0 !important;
        width: 400px;
        margin: 0 auto;
    }
    .input-field {
        width: 100%;
    }
}

@media only screen and (max-width: 2074px) {
    #add-contact {
        padding-right: 20px !important;
    }
}