.form-group {
    position: relative;
    margin-bottom: 20px;

    label {
        display: block;
        text-align: left;
        margin-bottom: 4px;
        width: fit-content;
    }

    .input-field {
        display: block;
        width: 100%;
        border: none;
        background: #1bbbf9;
        padding: 12px 14px;
        border-radius: 20px;
        font-size: 16px;
        letter-spacing: 1px;
        outline: none;
        color: #ffecec;

        &::placeholder {
            color: #ffecec;
            letter-spacing: 3px;
            font-size: 14px;
        }
    }
}

.btn-contact {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: #1bbbf9;
    color: #ffecec;
    outline: none;
    display: block;
    cursor: pointer;
}

@media (max-width:500px) {
    #add-contact {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width:950px) {
    #add-contact {
        margin-bottom: 20px;
        padding:0 !important;
        width: 400px;
        margin: 0 auto;
    }
    .input-field {
        width: 100%;
    }
    .btn-contact {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #add-contact {
        padding-right: 20px;
    }
}