#contact-list {
    padding: 0px 20px;
}

.contact-headers {
    display: flex;

    .headers {
        padding: 10px;
        border-bottom: 1px solid #0000007a;
        text-align: start;
        font-weight: 600;
        font-size: 16px;

        &.headers-email {
            flex: 0 1 40%;
        }
        
        &.headers-name {
            flex: 0 1 30%;
        }
        &.headers-contact {
            flex: 0 1 20%;
        }
        &.header-actions {
            flex: 0 1 10%;
        }
    }
}

.contact-content {
    display: flex;

    .content {
        margin-top: 8px;
        padding: 10px;
        border-bottom: 1px solid #00000040;
        text-align: start;

        &.content-email {
            flex: 0 1 40%;
        }
        
        &.content-name {
            flex: 0 1 30%;
        }
        &.content-contact {
            flex: 0 1 20%;
        }
        &.content-actions {
            flex: 0 1 10%;
            padding-top: 5px;
            padding-bottom: 8px;
            display: flex;
            justify-content: space-between;

            .action-icons {
                font-size: 20px;
                color: #000;
                cursor: pointer;

                &:last-child {
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 629px) {
    .container-fluid {
        overflow-y: auto;

        .contact-inner {
            width: 750px;
        }
    }
}